/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Light Mode Styles */
@media (prefers-color-scheme: light) {
    :root {
        --oxy-dark: #2b2b2b;
        --oxy-mid: #404040;
        --oxy-light: #7B66FF;
        --oxy-active: #7B66FF;
        --oxy-active-text: white;
        --oxy-hover: #000000;
        --oxy-dark-transparent: rgba(0, 0, 0, 0.25);
        --oxy-destructive: #00ff11;
        --oxy-light-text: white;
        --oxy-text-color: var(--oxy-dark);
        --oxy-btn-text-color: white;
        --oxy-btn-bg-color: var(--oxy-primary-color, #007bff);
        --oxy-btn-hover-bg-color: var(--oxy-hover);
        --oxy-box-shadow-color: var(--oxy-dark-transparent);
        --oxy-border-color: var(--oxy-primary-color, #00ff11);
        --oxy-border-radius: 9px;
        --oxy-bg-color: #FAFAFA;
        --oxy-form-control-color: var(--oxy-dark);
        --oxy-color-sec: #000;
        --oxy-bg-overlay-1: rgba(0, 0, 0, 0.1);
        --oxy-radius-btn: 5px;
        --oxy-shadow-m: 0 0 10px var(--oxy-box-shadow-color, rgba(47, 233, 90, 0.476));
        --oxy-space-s: 5px;
        --oxy-space-l: 15px;
        --oxy-text-s: 14px;
        --oxy-space-3xs: 5px;
        --oxy-text-color: var(--oxy-dark);
        --oxy-primary-color: #00ff11;
        /* Add other light mode specific styles here */
    }
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    :root {
        --oxy-dark: #2b2b2b;
        --oxy-mid: #404040;
        --oxy-light: #7B66FF;
        --oxy-active: #7B66FF;
        --oxy-active-text: white;
        --oxy-hover: #000000;
        --oxy-dark-transparent: rgba(0, 0, 0, 0.25);
        --oxy-destructiv: #ff5656;
        --oxy-light-text: white;
        --oxy-text-color: var(--oxy-light-text);
        --oxy-btn-text-color: var(--oxy-dark);
        --oxy-btn-bg-color: var(--oxy-primary-color, #FF5349);
        --oxy-btn-hover-bg-color: #1B4D3E;
        --oxy-box-shadow-color: #448AFF;
        --oxy-border-color: var(--oxy-primary-color, #FF5349);
        --oxy-border-radius: 9px;
        --oxy-bg-color: #1d2327;
        --oxy-form-control-color: var(--oxy-light-text);
        --oxy-color-sec: #FAFAFA;
        --oxy-bg-overlay-1: rgba(255, 255, 255, 0.1);
        --oxy-radius-btn: 5px;
        --oxy-shadow-m: 0 0 10px var(--oxy-box-shadow-color, #00ff11);
        --oxy-space-s: 5px;
        --oxy-space-l: 15px;
        --oxy-text-s: 14px;
        --oxy-space-3xs: 5px;
        --oxy-primary-color: #FF5349;
        /* Add other dark mode specific styles here */
    }
}

h1,
h2,
h3 {
    color: var(--oxy-text-color);
    font-size: auto;
    line-height: 1.3;
}

.wrap.postal-mail-settings .settings-grid {
    /* color: var(--oxy-text-color); */
    display: grid;
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;

}

.wrap.postal-mail-settings .left-column,
.wrap.postal-mail-settings .right-column,
.wrap.postal-mail-settings .help-section {
    background-color: var(--oxy-bg-color, #FAFAFA);
    padding: 20px;
    border: 1px solid var(--oxy-border-color, #0e69d5);
    border-radius: var(--oxy-border-radius, 9px);
}

.wrap.postal-mail-settings .left-column {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
}

.wrap.postal-mail-settings .right-column,
.wrap.postal-mail-settings .help-section {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
}

#wpfooter {
    visibility: hidden;
    display: none;
}

/* Rest of the CSS */
.postal-mail-settings label {
    color: var(--oxy-text-color);
}

.postal-mail-settings form {
    width: 100%;
    background-color: var(--oxy-bg-color, #FAFAFA);
    -webkit-box-shadow: var(--oxy-box-shadow-color, rgba(0, 0, 0, 0.1));
    box-shadow: var(--oxy-box-shadow-color, rgba(0, 0, 0, 0.1));

}


.form-table th,
.form-wrap label {
    color: var(--oxy-text-color, #FAFAFA);
}

.postal-mail-button {
    margin: 10px;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 0.5px;
    gap: var(--oxy-space-3xs);
    border-radius: var(--oxy-radius-btn, 5px);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: var(--oxy-btn-text-color);
    background: var(--oxy-btn-bg-color);
    -webkit-box-shadow: var(--oxy-shadow-m, 0 0 10px var(--oxy-box-shadow-color, rgba(0, 0, 0, 0.1)));
    box-shadow: var(--oxy-shadow-m, 0 0 10px var(--oxy-box-shadow-color, rgba(0, 0, 0, 0.1)));
    background-size: 100% 200%;
}

.postal-mail-button:disabled {
    background-color: var(--oxy-border-color, #0e69d5);
    cursor: not-allowed;
}

.postal-mail-button:not(:disabled):hover {
    background-color: var(--oxy-btn-hover-bg-color, #002868);
}

.wrap.postal-mail-settings {
    color: var(--oxy-text-color);
    padding: var(--oxy-space-s);
    margin: var(--oxy-space-l);
    font-size: inherit;
    line-height: 1.3;
    background: var(--oxy-bg-color, #FAFAFA);

}

.postal-mail-settings input[type="text"],
.postal-mail-settings input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--oxy-border-color, #0e69d5);
    border-radius: 3px;
    background-color: var(--oxy-bg-color, #FAFAFA);
    color: var(--oxy-text-color, #212121);
}

.postal-mail-settings .input[type="checkbox"] {
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    -webkit-transform: translateY(-0.075em);
    -ms-transform: translateY(-0.075em);
    transform: translateY(-0.075em);
    display: -ms-grid;
    display: grid;
    place-content: center;
}

.postal-mail-settings .input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-box-shadow: inset 1em 1em var(--oxy-form-control-color);
    box-shadow: inset 1em 1em var(--oxy-form-control-color);
}

.postal-mail-settings .input[type="checkbox"]:checked::before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.postal-mail-settings .notice .div.notice {
    padding: var(--oxy-space-s) var(--oxy-space-l);
    margin: 5px 15px 2px;
    border-radius: var(--oxy-border-radius);
    background: rgba(255, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    font-size: var(--oxy-text-s);
    line-height: 1.4;
    color: var(--oxy-color-sec, #000);
    position: relative;
    text-align: left;
    border: 1px solid var(--oxy-bg-color, #fff);
    margin-bottom: 20px;
}

.postal-mail-settings .notice-success {
    background-color: var(--oxy-bg-color, #fff);
    color: var(--oxy-destructiv, #ff5656);
    border-radius: var(--oxy-border-radius);
}

#wpcontent {
    background: var(--oxy-bg-color);
    height: 100%;
    padding-left: 0px;
}

#wpwrap {
    background: var(--oxy-bg-color);
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .wrap.postal-mail-settings {
        padding: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .postal-mail-settings form {
        max-width: 100%;
        padding: 10px;
    }

    .postal-mail-button {
        width: 100%;
        font-size: 14px;
        padding: 8px 10px;
    }

    .postal-mail-settings input[type="text"],
    .postal-mail-settings input[type="password"] {
        width: 100%;
        padding: 8px;
    }

    .wrap.postal-mail-settings h2 {
        font-size: 15px;
        padding: 5px 0 2px;
    }

    .postal-mail-settings .notice {
        padding: 10px;
        margin-bottom: 10px;
    }

    #wpfooter {
        visibility: hidden;
        display: none;
    }
}